.container {
  max-width: 850px;
  margin: 20px auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: #ffff;
  }
}

.containerHeader {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 14px;

  button {
    background-color: "#1d1d2e";
    border: 0;
    margin: 10px;
  }
}

.img {
  background-color: var(--dark-1000);
  transition: all 0.5s;
}

.img:hover {
  scale: 1.05;
}

.listOrders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderItem {
  display: flex;
  background-color: var(--dark-900);
  align-items: center;
  border: 0;
  font-size: 18px;
  border-radius: 8px;
  color: var(--white);
  transition: background 0.3s;

  &:hover {
    background-color: #1d1d2e;
    filter: brightness(1.2);
  }
}

.orderItem:hover {
  transform: scale(1.05);
}

.tag {
  width: 9px;
  height: 60px;
  background-color: var(--red-700);
  border-radius: 6px 0 0 6px;
  margin-right: 16px;
}
