.button {
  height: 40px;
  font-size: 16px;
  background-color: var(--red-900);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  color: #fff;
  font-weight: bold;
}

.button:hover {
  scale: 1.05;
}
